# LAB02 Assigment Template

### Exercise 0  Importing the census

In [1]:
# Import libraries necessary for this project
import numpy as np
import pandas as pd
from time import time
from IPython.display import display  # Allows the use of display() for DataFrames



# Pretty display for notebooks
%matplotlib inline

data = pd.read_csv("census.csv")

data.head()

,age,workclass,education_level,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,0.0,40.0,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,13.0,United-States,<=50K
2,38,Private,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0.0,0.0,40.0,United-States,<=50K
3,53,Private,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0.0,0.0,40.0,United-States,<=50K
4,28,Private,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,0.0,40.0,Cuba,<=50K

### Exercise 1  Exploration

In [ ]:
# The total number of records

In [ ]:
# The number of individuals making more than $50000 annually

In [ ]:
# The number of individuals making at most $50000 annually

In [ ]:
# The percentage of individuals making at more than $50000 annually

### Exercise 2 Preprocessing

In [ ]:
# Visualize skewed continuous features of original data

In [ ]:
# Outliers Treatment

In [ ]:
# Data Transformation

# Perform one-hot encoding on the data

### Exercise 3 Shuffle and Split Data

In [ ]:
# Split the 'feature' and 'income' data into training and testing sets

### Exercise 4 Evaluating Model
The following are some of the supervised learning models that are currently available in `scikit-learn`:
- Gaussian Naive Bayes (GaussianNB)
- Decision Trees
- Ensemble Methods (Bagging, AdaBoost, RandomForest)
- K-Nearest Neighbors
- Support Vector Machines (SVM)
- Logistic Regression
You need choose three of them, draw three ROC curves on the census data, and analyze and compare the them.

In [ ]:
# Evaluating Model

### Exercise 4 Questions
What would the accuracy and F-score be on this dataset if we chose a model that always predicted an individual made more than $50,000

In [ ]:
# What would the accuracy and F-score be on this dataset if we chose a model that always predicted an individual made more than $50,000

### Exercise 5 Evaluating Model

## Question:
### Q1: